@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Montserrat';
  /* background-color: gray; */
  overflow: hidden;
}

body {
  margin: 0;
}

/* OVERVIEW */

.register-div, .startup-div, .dashboard-div {
  height: 100vh;
  width: 100vw;
}

/* END OF OVERVIEW */

/* SIGNIN */

/* END OF SIGNIN */

/* DASHBOARD */

.dashboard-div {
  display: flex;
}

.user-header-div {
  display: flex;
  align-items: center;
}

.logout-btn {
  width: 60px;
  height: 20px;
  font-size: 10px;
}

.sidebar-div {
  height: 100vh;
  width: 25vw;
  background-color: gray;
}

.username-greetings, .channel-div, .direct-message-div {
  margin: 25px;
}

.chl-msg-container {
  height: 100vh;
  width: 75vw;
  /* background-color: cadetblue; */
  display: flex;
}

.chl-msg {
  margin: 25px;
}

/* END OF DASHBOARD */
