@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Montserrat';
  /* background-color: gray; */
  overflow: hidden;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* OVERVIEW */
.register-div, .startup-div, .dashboard-div {
  height: 100vh;
  width: 100vw;
}

/* END OF OVERVIEW */

/* LOGIN */
.slack-logo {
  width: 150px;
}

.login-div {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login-input {
  display: flex;
  width: 250px;
  margin: 10px;
  height: 25px;
}

.login-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.login-btn {
  margin-top: 10px;
  width: 258px;
  height: 28px;
}

.login-btn:hover {
  background-color: #2EB67D;
}

.error {
  display: flex;
  justify-content: center;
  font-size: small;
  background-color: #E01E5A;
  color: white;
}

.new-user {
  display: flex;
  align-items: center;
}

.new-to-slack {
  font-size: small;
}

.create-an-account {
  margin: 10px;
  font-size: small;
}
/* END OF LOGIN */

/* REGISTER */
.register-div {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login-input {
  display: flex;
  width: 250px;
  margin: 10px;
  height: 25px;
}

.login-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.login-btn {
  margin-top: 10px;
  width: 258px;
  height: 28px;
}

.login-btn:hover {
  background-color: #2EB67D;
}

.error {
  display: flex;
  justify-content: center;
  font-size: small;
  background-color: #E01E5A;
  color: white;
}

.existing-user {
  display: flex;
  align-items: center;
}

.new-to-slack {
  font-size: small;
}

.create-an-account {
  margin: 10px;
  font-size: small;
}
/* END OF REGISTER */

/* DASHBOARD */
.dashboard-div {
  display: flex;
}

.user-header-div {
  display: flex;
  align-items: center;
}

.logout-btn {
  width: 60px;
  height: 20px;
  font-size: 10px;
}

.sidebar-div {
  height: 100vh;
  width: 20vw;
  background-color: gray;
}

.username-greetings {
  margin: 25px;
}

/* END OF DASHBOARD */

/* SIDEBAR */
.circle-svg {
  height: 20px;
}

.user-div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}

.sidebar-div, .sidebar-container {
  overflow: scroll;
}
/* 
.user-div {
  position: fixed;
} */

.channel-div, .direct-message-div {
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  vertical-align: middle;
  text-align: center;
}

/* END OF SIDEBAR */

/* MESSAGES */
.message-container, .channel-container {
  height: 100vh;
  width: 80vw;
}

.write-message-div {
  display: flex;
  justify-content: center;
}

.message-div {
  background-color: red;
}

textarea {
  resize: none;
  width: 60vw;
  height: 50px;
}

/* END OF MESSAGES */

/* CHANNEL */
.channel-top-div {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
}

.channel-inner-top-div {

}

.channel-message-div {
  background-color: aqua;
  height: 80vh;
  display: flex;
  align-items: flex-end;  
}

.self-end {
  padding: 10px;
}

.self-start {
  padding: 10px;
}
/* END OF CHANNEL */
